<div class="lista">
    <input type="text" class="buscador" ng-model="$ctrl.filtro">
    <table>
        <thead>
        <tr>
            <th>{{'NAME'|xlat}}</th>
            <th>{{'LAST_NAME'|xlat}}</th>
            <th>{{'EMAIL'|xlat}}</th>
            <th>{{'PHONE'|xlat}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in $ctrl.usuarios | filter:$ctrl.filtro | limitTo:$ctrl.limit:$ctrl.start"
            ng-click="row.rol_id=''+row.rol_id;$ctrl.usuario=row;$ctrl.detailsOpen = true;">
            <td class="">{{row.nombre}}</td>
            <td class="">{{row.apellido}}</td>
            <td class="">{{row.mail}}</td>
            <td class="">{{row.telefono}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">
                <div class="table-td">
                    <button class="btn-paginacion-first"
                            ng-click="$ctrl.first();">Primera
                    </button>
                    <button class="btn-paginacion-prev"
                            ng-click="$ctrl.prev();">Ant.
                    </button>
                    <div class="paginacion-paginas">
                        <span>{{'PAGE' | xlat}} {{$ctrl.pagina}} {{'OF' | xlat}} {{$ctrl.paginas}}</span>
                    </div>
                    <div class="paginacion-go-to">{{'GO_TO' | xlat}} <input type="number"
                                                                            ng-model="$ctrl.pagina"
                                                                            ng-keyup="$ctrl.goToPagina();">
                    </div>

                    <button class="btn-paginacion-next"
                            ng-click="$ctrl.next();">Sig.
                    </button>
                    <button class="btn-paginacion-last"
                            ng-click="$ctrl.last();">Última
                    </button>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
    <div class="botonera">
        <button ng-click="$ctrl.detailsOpen = true;">{{'NEW'|xlat}}</button>

    </div>
</div>

<ac-blocker blocker-click="$ctrl.usuario = {}; $ctrl.detailsOpen = false;" visibility="$ctrl.detailsOpen"></ac-blocker>


<form class="form details" form-id="usuario-details" ng-class="{'details-open':$ctrl.detailsOpen}">
    <div class="detalle-container">
        <div class="input">
            <input id="nombre" type="text" ng-model="$ctrl.usuario.nombre" ac-validator
                   is-required="{{'ERROR_REQUIRED' | xlat:{campo:('NAME'|xlat)} }}" autocomplete="off"/>
            <span>{{'NAME'|xlat}}</span>
        </div>
        <div class="input">
            <input id="apellido" type="text" ng-model="$ctrl.usuario.apellido" ac-validator
                   is-required="{{'ERROR_REQUIRED' | xlat:{campo:('LAST_NAME'|xlat)} }}" autocomplete="off"/>
            <span>{{'LAST_NAME'|xlat}}</span>
        </div>
        <div class="input">
            <input id="email" type="email" ng-model="$ctrl.usuario.mail" ac-validator
                   is-required="{{'ERROR_REQUIRED' | xlat:{campo:('EMAIL'|xlat)} }}"
                   autocomplete="off"/>
            <span>{{'EMAIL'|xlat}}</span>
        </div>
        <div class="input">
            <input id="telefono" type="text" ng-model="$ctrl.usuario.telefono"
                   autocomplete="off"/>
            <span>{{'PHONE'|xlat}}</span>
        </div>
        <div class="input">
            <input id="direccion" type="text" ng-model="$ctrl.usuario.direcciones[0].calle" ac-validator
                   autocomplete="off"/>
            <span>{{'ADDRESS'|xlat}}</span>
        </div>
        <div class="input">
            <select id="tipo_doc" ac-validator ng-model="$ctrl.usuario.tipo_doc"
                    is-required="{{'ERROR_REQUIRED' | xlat:{campo:('DOC_TYPE'|xlat)} }}">
                <option value="0" selected>DNI</option>
                <option value="1">CUIT</option>
                <option value="2">PASS</option>
                <option value="3">CI</option>
                <option value="4">Otro</option>
            </select>
            <span>{{'DOC_TYPE'|xlat}}</span>
        </div>
        <div class="input">
            <input id="nro_doc" type="text" ng-model="$ctrl.usuario.nro_doc"
                   autocomplete="off"/>
            <span>{{'DOC_NO' | xlat}}</span>
        </div>
        <!--<div class="input">-->
        <!--<select id="activo" ng-model="usuario.status">-->
        <!--<option value="0">{{'NO'|xlat}}</option>-->
        <!--<option value="1">{{'YES'|xlat}}</option>-->
        <!--</select>-->
        <!--<span>{{'ACTIVE'|xlat}}</span>-->
        <!--</div>-->
        <div class="input">
            <select name="perfil" id="perfil" ng-model="$ctrl.usuario.rol_id">
                <option value="0">Administrador</option>
                <option value="1">Usuario</option>
                <option value="2">Proveedor</option>
                <option value="3">Cliente</option>
                <option value="4">Mayorista</option>
            </select>
            <label for="perfil">Perfil</label>
        </div>
        <div class="input">
            <input id="password" type="password" ng-model="$ctrl.usuario.password" autocomplete="off"/>
            <span>{{'PASSWORD'|xlat}}</span>
        </div>
    </div>
    <div class="botonera">
        <button ng-click="$ctrl.save(); $ctrl.detailsOpen = false;" ac-validator>{{'SAVE'|xlat}}</button>
        <button ng-click="$ctrl.remove()">{{'DELETE'|xlat}}</button>
        <button ng-click="$ctrl.usuario = {}; $ctrl.detailsOpen = false;">{{'CANCEL'|xlat}}</button>

    </div>
</form>

